<div class="container">
  <!-- Recipe Container -->
  <div class="recipe-container">
    <div class="image-container">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive rounded shadow"
      />
    </div>

    <div *ngIf="recipe" class="recipe-header text-center">
      <h1 class="recipe-title">{{ recipe.name }}</h1>
      <p class="recipe-description">{{ recipe.description }}</p>
    </div>

    <div class="alert alert-danger text-center" *ngIf="itemAlreadyExisted">
      <p>Ingredients already existed 🧑🏻‍🍳</p>
    </div>

    <!-- Manage Recipe Button and Dropdown -->
    <div class="btn-group d-flex justify-content-center" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle shadow"
        (click)="toggleDropdown()"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu text-center" [class.show]="isDropdownOpen">
        <li>
          <a (click)="onAddToShoppingList()" class="dropdown-item"
            >To Shopping List</a
          >
        </li>
        <li>
          <a (click)="onEditRecipe()" class="dropdown-item">Edit Recipe</a>
        </li>
        <li>
          <a (click)="onDeleteRecipe()" class="dropdown-item">Delete Recipe</a>
        </li>
      </ul>
    </div>

    <div class="ingredients-list mx-auto">
      <ul class="list-group">
        <li
          class="list-group-item recipe-ingredient"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
